ORACLE_USER=admin
ORACLE_PASSWORD=changeme
ORACLE_CONNECT_STRING=h3ogcoe71xqckx75_low
ORACLE_WALLET_DIR=./oracle-wallet
ORACLE_WALLET_PASSWORD=
JWT_ACCESS_SECRET=access-secret-demo
JWT_REFRESH_SECRET=refresh-secret-demo
PORT=3001
VITE_API_URL=http://localhost:3001
VITE_GOOGLE_CLIENT_ID=673073717912-6su2u0ofd04gial1gb321cdd9kbsk3fq.apps.googleusercontent.com
GOOGLE_CLIENT_ID_WEB=673073717912-6su2u0ofd04gial1gb321cdd9kbsk3fq.apps.googleusercontent.com
GOOGLE_CLIENT_ID_ANDROID=673073717912-npnceq06jot11a29pt1d1numk68vt9li.apps.googleusercontent.com
EXPO_PUBLIC_API_URL=http://204.216.157.94:3001
EXPO_PUBLIC_WEB_URL=http://204.216.157.94/
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=673073717912-6su2u0ofd04gial1gb321cdd9kbsk3fq.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=673073717912-npnceq06jot11a29pt1d1numk68vt9li.apps.googleusercontent.com
